certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
idna==2.10
joblib==0.16.0
kiwisolver==1.2.0
lxml==4.6.1
matplotlib==3.3.2
numpy==1.19.2
package-name==0.1
pandas==1.1.2
Pillow==7.2.0
psycopg2==2.8.6
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytrends==4.7.3
pytz==2020.1
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
trend==0.1
urllib3==1.26.2
waitress==1.4.4
yellowbrick==1.1
gunicorn==19.0.0
Flask==1.0.2
Flask-Login==0.4.0
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
Flask-User==1.0.1.5